ModuleLogsProvider.Logging/Service References/MostLogsServices/Awad.Eticket.ModuleLogsProvider.Types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Awad.Eticket.ModuleLogsProvider.Types" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Awad.Eticket.ModuleLogsProvider.Types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLogMessageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogMessageInfo" nillable="true" type="tns:LogMessageInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogMessageInfo" nillable="true" type="tns:ArrayOfLogMessageInfo" />
  <xs:complexType name="LogMessageInfo">
    <xs:sequence>
      <xs:element name="_x003C_IndexInAllMessagesList_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_LoggerName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MessageType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Message_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogMessageInfo" nillable="true" type="tns:LogMessageInfo" />
</xs:schema>